# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- R
- python
- sql

Some of the popular languages that Data Scientists use are:
1. R
2. python
3. SQL

Some of the commonly used libraries used by Data scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. seaborn

Data Science Tools
----- 
RStudio

JupyterLab

Github

### Below are a few examples of evaluating expressions in python ###

In [18]:
#this a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [20]:
#this will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author ##
Himanshu